<div class="footer">
  <div class="container-2">
   <div class="footer-box-1">
      <div class="footer-box-logo">
         <img src="https://s3-alpha.figma.com/hub/file/1913095808/a7bdc469-cd70-4ea1-bb57-b59204ad8182-cover.png" alt="">
<h2>Burger king</h2>
      </div>
      <h3>© 2023 Bundl <br> Technologies Pvt. Ltd</h3>

   </div>
   <div class="footer-box-2">
      <div class="box-list">
         <h2>Company</h2>
         <ul>
            <li><a href="">About</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">Swiggy One</a></li>
            <li><a href="">Swiggy Instamart</a></li>
            <li><a href="">Swiggy Genie</a></li>
         </ul>
      </div>
      <div class="box-list">
         <h2>Contact Us</h2>
         <ul>
            <li><a href="">Help  & Support</a></li>
            <li><a href="">Partner  with us</a></li>
            <li><a href="">Ride  with us</a></li>
         </ul>
         <h2>Legal</h2>
         <ul><li><a href="">Term & Condition</a></li></ul>
         <ul><li><a href="">Cookie Policy</a></li></ul>
         <ul><li><a href="">Privacy Policy</a></li></ul>
      </div>
      <div class="box-list">
         <h2>We deliver to</h2>
         <ul>
            <li><a href="">Bangalore</a></li>
            <li><a href="">Gurgaon</a></li>
            <li><a href="">Hyderabad</a></li>
            <li><a href="">Delhi</a></li>
            <li><a href="">Mumbai</a></li>
            <li><a href="">Pune</a></li>
         </ul>
      </div>
   </div>
  </div>
</div>
